pubDate not published

With feeds from a company that uses <pubDate>, the value of pubDate is not used by NetNewsWire.  Instead, it appears that another date (the last date of 3 dates in the article) is being used.  Unfortunately, this last date in the article is frequently the beginning of the epoch, so it doesn't help to have all articles with this unusual date.
Here is one of the feeds:  https://ssl.dropnet.ch/geneverando/dropnetapps/tours/index.php?page=rss&type=&group=&eventtype=
Here is another one of the feeds:  https://www.cas-carougeoise.ch/dropnetapps/tours/index.php?page=rss&type=&group=&eventtype=
Perhaps the problem is caused by the format of pubDate used in these feeds.  The pubDate includes the day of the week, and has a 2-digit year.  On the other hand, Vienna shows the value of pubDate correctly.
![pubDate](https://user-images.githubusercontent.com/86157007/161392733-a6422986-1385-4e4b-97e3-3226978ce3e1.jpg)



The problem is that the `pubDate` doesn't conform to RFC 822 because it is only using the 2 digit year.

@JBTournesol If it doesn't pass [the feed validator][1], it's the feed provider's fault. While you could write code to accomodate invalid feeds, it'd just end up encouraging it at best.

If you're pestering them anyway, you may also want to check if the feed is getting cached correctly.

[1]: https://validator.w3.org/feed/

I think that it depends on interpretation.  Section 5.1 of RFC 822 defines the year portion of the date as having two digits, not four digits.  However, looking at the feed validator, we find the explanation (https://validator.w3.org/feed/docs/warning/ProblematicalRFC822Date.html) that the date should follow RFC 822 "with the exception that the year SHOULD be expressed as four digits.”

Consequently, I think that a 2-digit year conforms to pure RFC 822 whereas a 4-digit year is desirable (the word SHOULD) but not mandatory.  If a 4-digit year were mandatory, it would be better to use the word MUST instead of the word SHOULD.

Nonetheless, I will ask the feed provider to change to a 4-digit year because it is more logical, regardless of RFC 822 and the suggested exception.

> I think that it depends on interpretation. Section 5.1 of RFC 822 defines the year portion of the date as having two digits, not four digits. However, looking at the feed validator, we find the explanation (https://validator.w3.org/feed/docs/warning/ProblematicalRFC822Date.html) that the date should follow RFC 822 "with the exception that the year SHOULD be expressed as four digits.”
> 
> Consequently, I think that a 2-digit year conforms to pure RFC 822 whereas a 4-digit year is desirable (the word SHOULD) but not mandatory. If a 4-digit year were mandatory, it would be better to use the word MUST instead of the word SHOULD.
> 
> Nonetheless, I will ask the feed provider to change to a 4-digit year because it is more logical, regardless of RFC 822 and the suggested exception.

The XML namespace claims this is an Atom document, so it has to follow _these_ rules: https://datatracker.ietf.org/doc/html/rfc4287#section-3.3